.terraform.lock.hcl
.terraform/*
*.tfstate
*.tfstate.backup
.terraform.tfstate
.terraform.tfstate.backup
*.tfvars
*.tfvars.json
*.tfvars.yaml
*.tfvars.yml
*.tfvars.tfvars
*.tfvars.tfvars.json
*.tfvars.tfvars.yaml        